<!-- LICENSE -->
<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
-->
<!-- Author: Marc Teves-->

<!-- CODE HISTORY -->

<!-- INFORMATION -->
<!-- File creation: February 5, 2019 -->
<!-- Development group: Group 1 - Iskolivery -->
<!-- Client group: None -->
<!-- Purpose of the software: To create a crowdsourced courier service for the UP Community -->

<div class="ui card">
	<div class="content">
		<div class="header">
			<img class="ui avatar bordered circular image" src="images/yukataw.png" style="width:25px;height:25px;">
			<span>
				<a href="#" style="color:#000000">
					<h3 style="margin-bottom:0px">
						<%= request.requester.email %>
					</h3>
				</a>
			</span>						
		</div>
		<div class="description">
			<p><strong>Location: </strong><%= request.request.location.name %></p>
			<p style:"margin-bottom:-10px"><strong>Description: </strong><%= request.request.item_name %></p>
		</div>
		<br>
<!-- 		<button class="ui right floated mini inverted red button">
 -->			<%= form_tag cancel_path do -%>
			<%= hidden_field_tag :request_id, request.request_id %>
			<%#= submit_tag 'Cancel' %>
			<button class="ui mini right floated negative button" type="submit">Cancel</button>
			<% end -%>
			<button class="ui mini right floated positive button" id="markdonereq">Done</button>
		<!-- </button> -->
	</div>
</div>

<div class = "ui tiny modal" id="donemodalreq">
	<i class="close icon"></i>
	<div class="header" style = "background-color:#921517">
		<h2 style = "color:#FFFFFF">Rate Requester</h2>
	</div>
	<div class="content">
		<strong><%= request.requester.name %>: </strong>		
		<div class = "ui star rating" id = "userratereq" data-max-rating="5"></div>
	</div>
	<div class="actions">
		<button class="ui green approve button" id = "submitrate">
			Submit
		</button>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#markdonereq').click(function(){
	    	$('#donemodalreq').modal('show');    
		});
	});
</script>

<!--
<tr>
  <td class="collapsing">
	   <div class="ui fitted slider checkbox">
			<input type="checkbox"><label></label>
	   </div>
  </td>
	<td class="single line"> <a href="#"><%= request.requester.email %></a></td>
	<td><%= request.request.location.name %></td>
	<td><%= request.request.bounty %></td>
	<td><%= request.request.item_name %></td>
	<td> <%= form_tag cancel_path do -%>
	<%= hidden_field_tag :request_id, request.request_id %>
	<%= submit_tag 'Cancel' %>
	<% end -%>	
</tr>
-->