<!-- LICENSE -->
<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
-->
<!-- Author: Aleksei Fernandez-->

<!-- CODE HISTORY -->

<!-- INFORMATION -->
<!-- File creation: March 29, 2019 -->
<!-- Development group: Group 1 - Iskolivery -->
<!-- Client group: None -->
<!-- Purpose of the software: To create a crowdsourced courier service for the UP Community -->

<div class="ui card">
	<div class="content">
		<div class="header">
			<div class = "right floated meta" style="color:#44CC44">
				<h5>Ongoing</h5>
			</div>
			<span>
					<h3 style="margin-bottom:0px">
						<%= request.request.title %>
					</h3>
			</span>						
		</div>
		<div class="description">
			<p><i class="ruble sign icon"></i><%= request.request.bounty %></p></strong>
			<p><i class="location arrow icon"></i><%= request.request.location.name %></p>			
			<p style:"margin-bottom:-10px"><strong>Description: </strong><%= request.request.item_name %></p>
		
		<%= form_tag cancel_path do -%>
			<%= hidden_field_tag :request_id, request.request_id %>
			<button class="ui mini right floated negative button" type="submit">Cancel</button>
			<% end -%>	
			<button class="ui mini right floated positive button" id="markdonefullfiller">Confirm</button>

		</div>

	</div>
</div>

<div class = "ui tiny modal" id="donemodal">
	<i class="close icon"></i>
	<div class="header" style = "background-color:#921517">
		<h2 style = "color:#FFFFFF">Rate Fulfiller</h2>
	</div>
	<div class="content">
		<strong><%= request.fulfiller.name %>: </strong>
		<div class = "ui star rating" id = "userrating" data-max-rating="5"></div>
	</div>
	<div class="actions">
		<%= form_tag request_fulfill_path(request.request_id), method: :patch do -%>
            	<%= hidden_field_tag :rating, 1 %>
		<button class="ui green approve button" id = "submitrate">
			Submit
		</button>
		<% end -%>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#markdonefullfiller').click(function(){
	    	$('#donemodal').modal('show');    
		});

		$('#submitrate').click(function(){
			var rating = $('#userrating').rating('get rating');
			$('#rating').value = rating;
		});

	});
</script>