<!-- LICENSE -->
<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
-->
<!-- Author: Marc Teves-->

<!-- CODE HISTORY -->

<!-- INFORMATION -->
<!-- File creation: February 5, 2019 -->
<!-- Development group: Group 1 - Iskolivery -->
<!-- Client group: None -->
<!-- Purpose of the software: To create a crowdsourced courier service for the UP Community -->
<div class="ui card fluid">
	<div class="content">
		<div class="header">
			<div class = "right floated meta" style="color:#009900">
				<h3>P<%= request.request.bounty %></h3>
			</div>
			<%= request.request.title %>
		</div>
		<div class="description">
			<h5><i class="user icon"></i><a href="#"><%= request.requester.name %><div class = "ui star rating" id = "userratereq" data-max-rating="5"></div></a></h5>
			<p><i class="location arrow icon"></i><%= request.request.location.name %></p>
			<p><%= request.request.item_name %></p>
			<%= form_tag accept_path do -%>
			<%= hidden_field_tag :request_id, request.request_id %>
				<% if request.requester.id != @user.id %>
					<button class="ui mini right floated green button" type="submit">Accept Request</button>
				<% end %>
				<% if request.requester.id == @user.id %>
					<div class = "right floated meta" style="color:#FFAA25"><strong>Looking for fulfiller</strong></div>
				<% end %>
			<% end -%>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
	    // All your normal JS code goes in here
	    $(".rating").rating();
	});
	$(document).ready(function(){
		var rate = <%= @user.rating %>;
    	$('#userratereq').rating('set rating', rate);
    	$('#userratereq').rating('disable');
    });
</script>
