<!-- LICENSE -->
<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
-->
<!-- Author: Bridget Legaspi-->

<!-- CODE HISTORY -->

<!-- INFORMATION -->
<!-- File creation: February 5, 2019 -->
<!-- Development group: Group 1 - Iskolivery -->
<!-- Client group: None -->
<!-- Purpose of the software: To create a crowdsourced courier service for the UP Community -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8">
		<title>Accepted Requests</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js"></script>
	
		<style type="text/css">
			body {
				background-color: #F6F6F6;
			}
			.ui.menu .item img.logo {
				margin-right: 1.5em;
			}
			.main.container {
				margin-top: 3em;
			}
			.wireframe {
				margin-top: 2em;
			}
			.ui.footer.segment {
				margin: 5em 0em 0em;
				padding: 5em 0em;
			}
		</style>
	</head>

	<body>

		<%#= stylesheet_link_tag "main" %> 

		<%= render 'layouts/header' %>
		  
		<br><br><br>
		
		<div class="ui container">
			<div class = "ui grid">
				<div class="four wide column">
					<div class = "row">
						<div class="ui card">
							<div class="content">
								<img class="ui avatar bordered circular image" src="images/yukataw.png" style="width:50px;height:50px;">
								<i class="floated edit link icon"><%= link_to 'Edit', user_view_edit_path(@user)%></i>
								<span>
									<h2 style="margin-bottom:0px"><%= @user.name %></h2>
									<div class = "ui star rating" id = "userratereq" data-max-rating="5"></div>
									<div class="meta">
										College of Engineering
								    </div>
								</span>        
								<hr>                
								<div class="segment">
									<h4>Your Active Requests</h4>
									<% @active_requests.each do |request| %>
									   <%= render partial: 'active_accepted_request', object: request, as: 'request' %>
									<% end %>
									<% @pending_requests.each do |request| %>
									   <%= render partial: 'active_pending_request', object: request, as: 'request' %>
									<% end %>
								</div>
							</div>
							
						</div>
					</div>
					<br>
					<div class = "row">
						<div class="ui card">
							<div class="content">
								<div class="header">
									Accepted Requests
								</div>
								<hr>
								<% @accepted_requests.each do |request| %>
								   <%= render partial: 'accepted_request', object: request, as: 'request' %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			
				<div class = "eight wide column">
					<div class="ui segment">
						<div class="header">
							<h2>Requests Pool</h2>
						</div>
								<% @available_requests.each do |request| %>
								   <%= render partial: 'request', object: request %>
								<% end %>
					</div>
				</div>

				<div class="four wide column">
					<div class = "ui card">
						<div class = "content">
							<div class = "header">Request Form</div>
							<br>
							
								   <%= form_for(@new_request, html: {class: 'ui form'}) do |f| %>
							<form class="ui form">
								<div class="ui required field">
											<%= f.label :title, text='Title' %>
											<%= f.text_field :title %>
								</div>

								<div class="ui required field">
											<%= f.label :location_id, text='Meet-up Place' %>
											<%= f.select(:location_id, options_for_select([
												['Palma Hall', 1],
												['Melchor Hall', 2],
												['Engineering Library 2', 3],
												['College of Science Library', 4]
											], 3)) %>
								</div>
								<hr>

								<div class="ui field">
											<%= f.label :item_name, text='Special Instructions' %>
											<%= f.text_field :item_name %>
								</div>
								<div class="ui field">
											<%= f.label :bounty, text='Bounty' %>
											<%= f.text_field :bounty %>
								</div>
								<br><hr>
											<%#= f.submit 'Send Request' %>
											<button class="ui primary button" type="submit">Send Request</button>
							</form>
							   <% end %>
						</div>
					</div>
				</div>
			</div>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
			<script>
				$(document).ready(function(){
				    // All your normal JS code goes in here
				    $(".rating").rating();
				    var rate = <%= @user.rating %>;
				    $('#userratereq').rating('set rating', Math.floor(rate));
				    $('#userratereq').rating('disable');
				});
			</script>
		</div> 
		<%#= render 'layouts/footer' %>		
	</body>
</html>
