<!-- LICENSE -->
<!-- This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019. -->
<!-- Author: Bridget Legaspi -->


<!-- CODE HISTORY -->
<!-- Modified by Bridget Legaspi on February 22. Added listing of emails -->

<!-- INFORMATION -->
<!-- File creation: February 21, 2019 -->
<!-- Development group: Group 1 - Iskolivery -->
<!-- Client group: None -->
<!-- Purpose of the software: To create a crowdsourced courier service for the UP Community -->

<!DOCTYPE html>
<html>
     <head>
          <meta charset= "utf-8">
          <title>Accepted Requests</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css">

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js"></script>
          
          <style type="text/css">
               body {
                    background-color: #F6F6F6;
               }
               td:hover {
                    cursor: pointer;
               }
               .ui.menu .item img.logo {
                    margin-right: 1.5em;
               }
               .main.container {
                    margin-top: 3em;
               }
               .wireframe {
                    margin-top: 2em;
               }
               .ui.footer.segment {
                    margin: 5em 0em 0em;
                    padding: 5em 0em;
               }
          </style>
     </head>
     
     <body>
          <%= render 'layouts/header' %>
          <div class = "ui container">
               <br><br>
               <h1>User Accounts</h1>          
               

               <table class="ui striped compact table">
                    <thead>
                    <tr>
                         <th class="">Name</th>
                         <th class="">Email</th>
                         <th class="">Verified</th>
                         <th class="">Action</th>
                    </tr>
                    </thead>
                 
                    <tbody>
				 <% @users.each do |user| %>
                         <td class = "viewUserRow"><%= user.name %></td>
                         <td class = "viewUserRow"><%= user.email %></td>
                         <td class = ""><%= user.verified %></td>
                         <td class = ""><%= form_tag verify_path do -%>
                               <%= hidden_field_tag :user_id, user.id %>
                                   <%#= submit_tag 'Verify' %>

                                   <button class="ui mini toggle button" type="submit">Verify</button>
                         <% end -%>
                         </td>
                         <!-- <td class = "viewUserRow"><%= user.email %></td> -->
                         <!-- <td><%= user.admin %></td>  -->
                     <tr>

                     </tr>
                     <% end %>
                    </tbody>
                     
                    <!--
                    <tfoot class="full-width">
                         <tr>
                              <th></th>
                              <th colspan="4">
                                   <div class="ui right floated small primary labeled icon button">
                                        <i class="user icon"></i> Get More Requests
                                   </div>
                              
                              <div class="ui small positive button">Submit</div>
                              <div class="ui small  disabled button">Submit all</div>
                              </th>
                         </tr>
                    </tfoot>
                    -->
               </table>
               <div class = "ui modal" id="viewUserModal">
                    <i class="close icon"></i>
                    <div class="header" style = "background-color:#921517">
                         <h2 style = "color:#FFFFFF">User Account Details</h2>
                    </div>
                    <div class="content">
                         <h3>Email:</h3>
                         <p id = "email"></p>
                    </div>
               </div>

               <script>
               $(document).ready(function(){
                    $('.viewUserRow').click(function(){
                         var user = $(this).html();
                         document.getElementById("email").innerHTML = user;
                         $('#viewUserModal').modal('show');    
                    });
               });
               </script>
          </div>
     </body>
</html>
