<!-- LICENSE -->
<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016

This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
-->
<!-- Author: Aleksei Fernandez-->

<!-- CODE HISTORY -->
<!-- Modified by Aleksei Fernandez on February 5, 2019. Initial code. -->
<!-- Modified by Aleksei Fernandez on February 6, 2019. Changed overall look. -->
<!-- Modified by Aleksei Fernandez on February 8, 2019. Finished. -->
<!-- Modified by Bridget Legaspi on February 21, 2019. Edited log in button -->

<!-- INFORMATION -->
<!-- File creation: February 5, 2019 -->
<!-- Development group: Group 1 - Iskolivery -->
<!-- Client group: None -->
<!-- Purpose of the software: To create a crowdsourced courier service for the UP Community -->

<!DOCTYPE html>
<html>
     <head>
          <meta charset= "utf-8">
          <title>Iskolivery</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
     <style type="text/css">
      body {
        background-color: #921517;
      }
      .ui.menu .item img.logo {
        margin-right: 1.5em;
      }
      .main.container {
         margin-top: 5em;
       }
       .wireframe {
         margin-top: 2em;
       }
       .ui.footer.segment {
         margin: 5em 0em 0em;
         padding: 5em 0em;
       }
        .ui.container {
         width: 500px;
       }
       .ui.grid.container {
         width: calc( 723px  +  4rem );
       }
       .ui.relaxed.grid.container {
         width: calc( 723px  +  3rem );
       }
       .ui.very.relaxed.grid.container {
         width: calc( 723px  +  5rem );
       }
     </style>
     </head>
     <body>
        <br><br><br><br><br>

		<div class = "ui middle centered aligned container">
			<h1 class = "ui centered aligned header" style="color:#FFFFFF; margin-bottom:-20px">ISKOLIVERY</h1>
			<h3 class = "ui centered aligned header" style="color:#FFFFFF"><i>Crowdsourced Courier Service</i></h3>
			<div class="ui top attached tabular menu">
        <a class="active item" data-tab="login">Log In</a>
        <a class="item" data-tab="signup">Signup</a>
      </div>
      <div class = "ui bottom attached active tab segment" data-tab="login">
				<center>
		        <div class = "image">   
		  			   <img src = "isko.png" style = "width:100px;height:100px">
		  			</div>
		    </center>
				<%= form_for(:session, url: login_path, html: {class: 'ui form'}) do |f| %>
				    <div class="field">
						<%= f.label :email, text='Username or UP Mail' %>
						<%= f.email_field :email, html: {placeholder: 'Enter username'} %>
				    </div>
			        <div class="field">
			  	      <%= f.label :password, text='Password' %>
					  <%= f.password_field :password, html: {placeholder: 'Enter password'} %>
			        </div>
			        <div class = "ui centered aligned container">
				        	<center>
				        	<button class="ui positive button" type="submit">Log In</button>
				        	</center>
			      	</div>
              <% if flash[:success] %>
              <div class="ui green message">
                <i class="icon check circle"></i>
                <%= flash[:success] %>
              </div>
              <% end %>
              <% if flash[:error] %>
              <div class="ui red message">
                <i class="icon x icon"></i>
                <%= flash[:error] %>
              </div>
              <% end %>
				<% end %>
      </div>
      <div class = "ui bottom attached tab segment" data-tab="signup">
  			<center>
            <div class = "image">   
               <img src = "isko.png" style = "width:100px;height:100px">
            </div>
        </center>
        <%= form_for(:user, url: users_new_path, html: {class: 'ui form'}) do |f| %>
            <div class="field">
              <%= f.label :name, text='Username' %>
              <%= f.text_field :name, html: {placeholder: 'Enter username'} %>
            </div>
            <div class="field">
              <%= f.label :email, text='UP Mail' %>
              <%= f.email_field :email, html: {placeholder: 'Enter email'} %>
            </div>
            <div class="field">
              <%= f.label :password, text='Password' %>
              <%= f.password_field :password, html: {placeholder: 'Enter password'} %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, text='Confirm password' %>
              <%= f.password_field :password_confirmation, html: {placeholder: 'Confirm password'} %>
            </div>
            <div class = "ui centered aligned container">
                <center>
                <button class="ui positive button" type="submit">Sign Up</button>
                </center>
            </div>
            <div class="ui bottom attached warning message">
              <i class="icon help"></i>
              Already signed up? <a href="#">Login here</a> instead.
            </div>
          <% end %>
      </div>
		</div>
    
    <script>
      $(document).ready(function(){
        $('.menu .item').tab();

        $('.ui .item').on('click', function() {
            Console.Log("fsasfadsfasdf");
            $('.ui .item').removeClass('active');
            $(this).addClass('active');
         });  
      });
    </script>
	</body>
</html>
